#card1{
    background-color: rgb(13, 13, 151);
}

.table{
    padding-top: 30px;
  }

.text{
      align-items: center;
      text-align: center;
      padding-top: 100px;
  }

#text-1{
    padding-top: 50px;
    text-align: center;
    align-items: center;
}

